@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

* {
    box-sizing: border-box;
}

body{
    margin:0;
    //color: #292b4d;
    color: black;
    //background-color: #fbfbfb;
    background-color: white;
    font-family:'Inter';
    font-size: 15px;
    font-weight: 400;
    font-variant-numeric: tabular-nums lining-nums;
}

.right2 {
  float:left;
  text-align:center;
  width: 50%;
}
.right3 {
  float:left;
  text-align:center;
  width: 33.33%;
  height: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
 //height:100%;
}

.mainstats{
  text-align:center;  margin-top:2px; font-size:26px; font-weight:300;
}

.labelstats{
  
}

@media (max-width:576px) {
  table{
    width:100%;
    font-size:10px;
  }

  .mainstats{
    font-size:16px; font-weight:700;
  }

  .labelstats{
    font-size:10px;
  }
  
  .right2, .right3 {
    width:100%;
  }
  .grid-container{
  	display: grid;
  	grid-template-columns: 0 auto 0;
  }

  .tdcountry{
    font-size: 10px;
  }

  .tdtitle{
    font-size: 10px;
  }
}

.menu {
    width: 25%;
    float: left;
}

.main {
    width: 75%;
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "Inter", sans-serif;
  }
  
  .header {
    background-color: #9933cc;
    //color: #ffffff;
    padding: 15px;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    //color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }

  a{
    text-decoration:none;
    color:#0694a2;
    font-weight: 500;
    //font-size: 13px;
    //margin:0 30px;
  }
  a:hover{
    text-decoration: underline;
  }
  
  #i, #j, #k {
    font-size: 40px;
    font-weight:450;
    text-align: center;
    width: 100%;
    margin-top: 50px;
  }

  table, tr, td{
    border: 1px solid rgb(224,224,224);
    border-collapse: collapse;
    text-align: center;
  }

  table{
    border-radius: 40px;
  }

  thead > tr{
    background: white;
  }

  tbody > tr:nth-child(odd){
    background: #f9fafb;
  }

  th, td{
    height:40px;
    padding:4px;
    border:none;
  }

  .tdcountry{
    text-align: left;
  }

  .tdnum{
    text-align: right;
  }

  .tdtitle{
    text-align: right;
  }

  .colshadow{
    border-radius:6px;border:1px solid rgb(230,230,230); padding:10px; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  #new-search-area{
    width: 100%;
    clear: both;
    padding-top: 0px;
    padding-bottom: 16px;
  }
  #new-search-area input{
      width: 100%;
      font-size: 15px;
      padding: 14px;
      text-transform: capitalize;
      border: 1px solid rgb(230,230,230);
      border-radius: 2px;
      -webkit-appearance: none;
  }

  .tab-content > .tab-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  font-size: 14px;
  color: rgba(0,0,0,.87);
  border: none;
  border-bottom: 3px solid #1a73e8;
}

.nav-tabs .nav-link{
  font-size: 14px;
  color: rgba(0,0,0,.54);
}

h5{
  font-weight: 400;
  color: #202124;
  letter-spacing: 0.25;
}

#hi-progress{
  display: grid;
  width: 100%;
  height: 5px;
  margin: 10px 0 6px 0;
}

#targetimmuinty-label{
  display: grid;
  width: 100%;
  height: 5px;
}

#layout{
  display: grid;
  grid-template-columns: 200px 600px auto;
}

@media (max-width: 768px) {
  #layout{
    grid-template-columns: 0 100% 0;
  }
}